<h1>Invitaion received</h1>

<% if @groupinv.send_by_mentor == false %>
  <p>Group <% @name %> is currently interested in you</p>
<% else %>
  <p>Mentor <% @name %> is currently interested in you</p>
<% end %>

<p> Log in and have a LOOK!</p>

<%= link_to "Log in", welcome_index_url %>

<p>
If you did not register for the system, please ignore this email and contact ### immediately.
</p>