<h1>Invitaion Accepted</h1>
<% if @changed_by_mentor == false %>
  <p>Group <%= @name %> has accepted your invitation</p>
<% else %>
  <p>Mentor <%= @name %> has accepted your invitation</p>
<% end %>
<p> Log in and have a LOOK!</p>
<%= link_to "Log in", welcome_index_url %>
<p>
  If you did not register for the system, please ignore this email and contact ### immediately.
</p>
