<h1>Welcome to the Mentor Matching System Version 1.0</h1>


<%= link_to "Parent", new_user_path(:role => 'Parent') %>
<br>
<%= link_to "Mentor", cas_login_path %>
<br>
<%= link_to "Parent Sign In", welcome_parent_signin_path %>
