<h1>New Mentor Joined!</h1>
<p>
  <%= @mentor.name %> has joined the group <%= @group.title%>. 
  
  Click on the link below to log into the system:
</p>
<p>
  <%= link_to "Log in", welcome_index_url  %>,
</p>
<p>
  If you did not register for the system, please ignore this email and contact ### immediately.
</p>
