<h1>New administrator page</h1>
<%if !@rglusers.empty?%>
  <div class="table-responsive">
    <table class='table'>
      <tr>
        <th>Username</th>
        <th>Promotion</th>
      </tr>
      <% @rglusers.each do |rgluser| %>
        <tr>
          <td><%= rgluser.user.username %></td>
          <td><%= link_to "Become Administrator", administrators_create_path(rgluser.id)%></td>
        </tr>
      <%end%>
    </table>
  </div>
<%end%>
