<h1>Account Activated</h1>
<p>
  Hi <%= @parent.name %>,
</p>
<p>
  Welcome to the Aggie-Buddy Connect! Hope you'll find decent teammates for your children here and have a good competition experience.

  Click on the link below to log into the system:
</p>
<p>
  <%= link_to "Log in", welcome_index_url  %>,
</p>
<p>
  If you did not register for the system, please ignore this email and contact ### immediately.
</p>
