<h1>Account Activated</h1>

<p>
  Hi <%= @parent.name %>,
</p>

<p>
  Welcome to the Team Matching System! Hope you'll find decent teammates for your children here and have a good competition experience.

  Click on the link below to log into the system:
</p>

<p>
  <%= link_to "Log in", welcome_index_url  %>,
</p>
