
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap-tokenfield";
 @import "animate";
 @import "timeslot";
 @import "landing-page";

body { 
    padding-top: 70px;
    margin: 0;
    min-height: 100%;
}

html {
  height: 100%;
}

th {
    font-family: Gill Sans, Verdana;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px; margin-bottom: 0px;
	text-align: left;
    background-color: #6699FF;
    color: white;
}

tr {
	font-family: Georgia, "Times New Roman", Times, serif;
    font-size:14px;
	margin-top: 5px; margin-bottom: 0px;
	text-align: left;
    color: #222;
    font-weight: normal;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
  }
}

.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  color: grey;
}

.btn-primary:hover,.btn-primary {
    background-color: #6699FF;
}

.background_image{
    background: image-url('background.jpg') no-repeat right bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }
 
 .parentbg{
    background: image-url('parentbg.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }
 
 @media only screen and (max-width: 767px) {
  .background_image{
    background: image-url('background-mobile.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}

.btn {
	border-radius: 24px;
}

.jumbotron{
    background: url("Welcome_Aggieland.png") no-repeat right bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-radius: 0 !important;
    margin-bottom: 0;
}

.index_bg{
    background: image-url('indexbg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }
 
 .parent_bg{
    background: #485563; /* fallback for old browsers */  
    background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
 
 .alert{
     border-radius: 0px;
 }
 
 
