.intro-message > h1,
.intro-message > h2,
.intro-message > h3,
.intro-message > h4,
.intro-message > h5,
.intro-message > h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    font-family: verdana, Arial,sans-serif;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    color: rgba(255,255,255,1);
    text-align: center;
}


.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    color: rgba(255,255,255,1);
    text-align: center;
    font-style: oblique;
}

.intro-message > .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    text-align: center;
}

.intro-message > .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px
}


.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
}

ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    .intro-message > h2 {
        font-size: 1.8em;
    }

    .intro-message > h3 {
        font-size: 1.3em;
    }
    
    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.parent-login{
    position: relative;
    padding-top: 50%;
    padding-bottom: 20%;
}

.parent-login > .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    text-align: center;
}

.underline-text{
    color: #00CC66;
    text-decoration: none;
    border-bottom: 1px solid #00CC66;
}

.edit-font{
    color:silver; 
    font-size:120%;
    font-weight:normal; 
    font-family:Arial;
}

.tab-content{
     padding-bottom: 30px;
}

.nav-pills > li > a{
    color:#adad85;
    
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    color: #262626;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
    background-color:#262626;
    color:white;
}

.nav-pills > li > a > .badge{
    background-color:red; color:white;
}
.nav-pills > li.active > a > .badge{
    background-color:white; color:#262626;
}

.overview-divider {
    width:900px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-width:thin;
}

.tab-pane-content{
     background-color:#ffffe6;
     padding-bottom: 50px;
}